.containerSB{

    padding-top: 10%;
    display: flex;
    /* background-color: aliceblue; */
    /* justify-content: space-around; */

}

.input {
    width: 450px;
    height: 40px;
    border: 0px;
    margin-left: 15px;
    padding: 15px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 8px;
    background-color: hsl(218, 11%, 14%);
    text-indent: 12px;
    color: hsl(220, 7%, 91%);

}

.input::placeholder{
    color: hsl(210, 9%, 91%);
    text-indent: 13px;
    letter-spacing: 0.7px;
    font-weight: 200;
    opacity: 50%;
}

.search-button {
    height: 40px;
    width: 60px;
    border: 0px;
    margin-left: 15px;
    border-radius: 8px;
    background-color: hsl(218, 11%, 14%);
    color: hsl(220, 7%, 91%);
}

.input:focus{
    outline: none;
    border-bottom: 1px solid #444;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.input:hover{
    background-color: hsl(210, 11%, 15%);
}

.search-button:hover {
    background-color: hsl(210, 11%, 15%);
    color: #7ED957;
}


.create-button {
    height: 40px;
    width: 200px;
    border: 0px;
    margin-left: 15px;
    border-radius: 8px;
    background-color: hsl(218, 11%, 14%);
    color: hsl(220, 7%, 91%);
}

.create-button:hover {
    background-color: hsl(210, 11%, 15%);
    color: #7ED957;
}

.suggestion-list {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    z-index: 1;
    margin-left: 15px;
    width: 450px;
    max-height: 600px;
    overflow-y: auto;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: none;
    background-color: hsl(218, 11%, 14%);
    color: hsl(220, 7%, 91%);
    opacity: 0;
}
  
/* Mostrar la lista de sugerencias cuando hay sugerencias */
.suggestion-list.showSuggestions {
    display: block;
    opacity: 1;
}
  
/* Estilos para los elementos de la lista de sugerencias */
.suggestionItem {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #444;
}

.suggestionItem:hover {
    background-color: hsl(210, 11%, 15%);
    color: #7ED957;
}
